
<div class="clearfix customer-info well-small">
    <div class="visual">
        <img alt="{{ entity.shipname }}" src="/bundles/oroui/img/info-user.png"></img>
    </div>
    <div class="customer-content pull-left">
        <div class="clearfix">
            <div class="sub-title"><a href="{{ path('demacmedia_physicalstore_orders') }}">Physical Store Orders</a></div>
            <span class="separator">/</span>
            <h1 class="user-name">{{ entity.shipname|capitalize }}</h1>
        </div>

        <div class="clearfix">
            <ul class="inline">
                <li>
                    {{ 'oro.ui.created_at'|trans }}:
                    {{ entity.created ? entity.created|oro_format_datetime : 'N/A'|trans }}
                    {% if entity.shipname %}
                        {{ entity.shipname|escape }}
                    {% endif %}
                </li>
                <li>
                    {{ 'oro.ui.updated_at'|trans }}:
                    {{ entity.updated ? entity.updated|oro_format_datetime : 'N/A'|trans }}
                    {% if entity.shipname %}
                        {{ entity.shipname|escape }}
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <hr />
</div>